<div class="login">
    <div class="form">
        <div class="form__header">
            <h2 class="form__title">Login</h2>
            <p class="form__legend">Please enter your username and password:</p>
        </div>
        <div class="form__item">
            <input class="input" type="text" placeholder="Username"  [(ngModel)]="username">
        </div>
        <div class="form__item">
            <input class="input" type="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <button class="submit" (click)="login()">Login</button>
    </div>
</div>