<div class="login">
    <form class="form">
        <div class="">
            <label>
                <p class="label">Username</p><input class="input" #userName type="text" name="username"  #user>
            </label>
        </div>
        <div>
        <label>
            <p class="label">Password</p><input class="input" #passWord type="password" name="password">
        </label>
        </div>
    
        <div class="block-btn">
            <button class = "btn" (click)="loginUser(userName.value, passWord.value)">Log In</button>
            <button class = "btn" (click)="signUp()">Sign Up</button>
        </div>
    </form>
</div>

