
<div>
  <button class="btn" routerLink="/login">Log Out</button>
</div>
<ul class="categories">
  <li *ngFor="let category of categories">
    <a routerLink="/categories/{{category.id}}">
      {{category.name}}
    </a>
  </li>
</ul>

<div class="daily-source">
  <h2 class="section-title">Your Daily Source for Sport</h2>
  <div class="daily-image-blocks">
    <div class="daily-image-item">
      <img src = "https://static.nike.com/a/images/f_auto/dpr_2.0/w_569,c_limit/be228118-8a37-4b4a-9850-342eb18bf63a/nike-just-do-it.jpg">
    </div>
    <div class="daily-image-item">
      <img src = "https://static.nike.com/a/images/f_auto/dpr_2.0/w_569,c_limit/d2f5af59-7077-4cb2-af6d-f6ae34456d28/nike-just-do-it.jpg">
    </div>
    <div class="daily-image-item">
      <img src = "https://static.nike.com/a/images/f_auto/dpr_2.0/w_569,c_limit/d9564d2f-459f-4055-91e7-6cefd69225b0/nike-just-do-it.jpg">
    </div>
  </div>
  <div class="daily-down-blocks">
    <p class="together-paragraph">
      Let's Do This Together
    </p>

    <p style="text-align: center; margin-bottom: 40px; font: inherit; vertical-align: baseline;">
      Angela Manuel Davis, Nike’s Community Leader, and a team of
      <br>
      Nike Master Trainers want to help you #playinside every day.
    </p>

    <a href="https://www.nike.com/you-cant-stop-us" class="btn-link">
      Join us
    </a>
  </div>
</div>
<div class="join-member">
  <h2 class="section-title">Join the greatest team in sports to get the very best of Nike</h2>
  <div class="join-member-block">
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-first.jpg" class="img-adv"  alt="membership">
      </div>
      <div class="member-title">
        <p>Member Exclusive Products</p>
      </div>
      <div class="member-description">
          <p>Get Early Access to our latest drops, member-only products and your favorite gear reserved in your size.</p>
      </div>
    </div>
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-second.jpg" class="img-adv" alt="membership">
      </div>
      <div class="member-title">
        <p>Expert Guidance & Advice</p>
      </div>
      <div class="member-description">
          <p>Chat with real athletes with real answers to get recommendations on training and products.</p>
      </div>
    </div>
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-third.jpg" class="img-adv" alt="membership">
      </div>
      <div class="member-title">
        <p>Connect to Sport Anytime, Anywhere</p>
      </div>
      <div class="member-description">
          <p>Access over 100 on-the-go workouts, weekly challenges and personalized training plans.</p>
      </div>
    </div>
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-fourth.jpg" class="img-adv" alt="membership">
      </div>
      <div class="member-title">
        <p>One-of-a-Kind Experiences</p>
      </div>
      <div class="member-description">
          <p>From courtside to race day, get priority access to events and sessions you won't want to miss.</p>
      </div>
    </div>
  </div>
</div>
<div class="shopping-benefits">
  <h2 class="section-title">Your shopping benefits start at sign up</h2>
  <div class="shopping-benefits-block">
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-fifth.jpg" class="img-adv" alt="membership">
      </div>
      <div class="member-title">
        <p>Fast, Free Shipping</p>
      </div>
      <div class="member-description">
          <p>Free shipping always. Plus member-only pricing on expedited orders.</p>
      </div>
    </div>
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-sixth.jpg" class="img-adv" alt="membership">
      </div>
      <div class="member-title">
        <p>30-Day Wear Tests</p>
      </div>
      <div class="member-description">
          <p>Try it and love it -- or return it. No receipt needed.</p>
      </div>
    </div>
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-seventh.jpg" class="img-adv" alt="membership">
      </div>
      <div class="member-title">
        <p>In-Store All-Star Treatment</p>
      </div>
      <div class="member-description">
          <p>Enjoy express checkout, store-to-door delivery and special store hours.</p>
      </div>
    </div>
    <div class="member-block">
      <div class="member-image">
          <img src="/assets/images/nikeplus-membership-eighth.jpg" class="img-adv" alt="membership">
      </div>
      <div class="member-title">
        <p>Birthday Reward</p>
      </div>
      <div class="member-description">
          <p>Celebrate your big day with a special NikePlus Unlock.</p>
      </div>
    </div>
  </div>
  
</div>
